* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url("backend-images/background.webp") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}  

.title{
    font-size: 5rem;
    color: azure;
    font-family: 'Monster Hunter';
    text-align: center;
}

.grid-container{
    display: grid;

    grid-template-columns: 1fr 750px 1fr;
    grid-template-rows: 80vh;
    


    grid-template-areas: 
    "sptable mpicture .";
}

.container-image{
    background-color: rgba(119, 136, 153, 0.507);
    justify-content: center;
    align-content: center;
}

.smashpassbuttoncontainer{
    align-self: center;
}

.smashpasslists{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Monster Hunter";
    font-size: 30px;
    color: azure;
    height: 78vh;
    width: 100%;
}

.smashpasstable{
    width: 100%;
}

.smashpasstable > tbody{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}



.sptable{
    grid-area: sptable;
    background-color: rgba(119, 136, 153, 0.507);
}

.mpicture{
    grid-area: mpicture;
    width: 100%;
}

.smash-button {
    text-align: center;
    line-height: 1;
    text-decoration: none;
    color: #333333;
    font-size: 26px;
    font-family: "Monster Hunter";
    border-radius: 0px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    border: 2px solid #333333;
    transition: 0.3s;
    box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
    background-color: #1eff00;
}

.smash-button:active {
    box-shadow: 0 0 #5eff00;
    color: #fff;
    background-color: #1eff00;
}

.pass-button {
    line-height: 1;
    text-decoration: none;
    color: #333333;
    font-size: 26px;
    font-family: "Monster Hunter";
    border-radius: 0px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    border: 2px solid #333333;
    transition: 0.3s;
    box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
    background-color: #ff0000;
}

.pass-button:active {
    box-shadow: 0 0 #ff0000;
    color: #fff;
    background-color: #ff0000;
}

.monster-image{
    max-width: 100%;
    max-height: 80vh;
}

